<form action="/card/edit/{{card._id}}" method="post" class="card p-3 bg-light text-center">
   <h2 class="text text-primary">Edit Pokemon </h2>
   <div class="form-group">
      <label class="text-success h6"> Name</label>
      <input class="form-control" type="text" name="name" value="{{card.name}}" required 
         >
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6"> Price</label>
      <input class="form-control" type="number" name="price" value="{{card.price}}" required 
         >
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6"> Image</label><br>
      <img src="{{card.image}}" width="100" height="100">
      <input class="form-control mt-3" type="text" name="image" value="{{card.image}}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Date</label>
      <input class="form-control" type="date" name="dob" value="{{dateFormat card.dob 'YYYY-MM-DD'}}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text-success h6">Made</label>
      <input class="form-control" type="text" name="made" value="{{card.made}}" required >
   </div>

   <div class="form-group mt-3">
      <label class="text-success h6">Describe</label>
      <input class="form-control" type="text" name="des" value="{{card.des}}" required >
   </div>
   <div class="form-group mt-3">
      <input class="btn btn-primary mt-3" type="submit" value="Edit">
   </div>
</form>

