<table class="table table-bordered bg-light p-4 mt-3 mb-3 text-center">
   <tr>
      <th class="text-primary" colspan="4">Toy List</th>
      <th>
         <a class="btn btn-primary" href="/toy/add">ADD</a>
      </th>
   </tr>
   <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
      <th>Image</th>
      <th>Made</th>
   </tr>
   <tr>
    <th colspan="4">
         <select class="form-control" onchange="window.location.href=this.value">
            <option value="">Sort by name</option>
            <option value="/toy/sort/asc">Ascending</option>
            <option value="/toy/sort/desc">Descending</option>
         </select>
      </th>
      <th colspan="2">
         <form action="/toy/search" method="post">
            <div class="form-group">
               <input class="form-control" type="search" name="name" placeholder="Enter toy name to search">
            </div>
         </form>
      </th>
   </tr>
   {{#each toy }}
   <tr>
      <td>{{name}}</td>
      <td>{{price}}</td>
      <td>{{dateFormat dob "DD/MM/YYYY"}}</td>
      <td>
         <a href="/toy/detail/{{_id}}">
            <img src="{{image}}" width="100" height="100">
         </a>
      </td>
      {{!-- <td>
        {{#equal graduated true}}
         <span style="color: red; font-weight: bold;">Graduated</span>
         {{/equal}}
         {{#equal graduated false}}
         <span style="color: blue; font-style: italic;">Ungraduated</span>
         {{/equal}}
      </td> --}}
      <td>
         <a class="btn btn-warning" href="/toy/edit/{{_id}}">EDIT</a>
         <a class="btn btn-danger" href="/toy/delete/{{_id}}">DELETE</a>
      </td>
   </tr>
   {{/each}}
</table>


{{!-- //////////////////////////////////// --}}


 <div class="featured__controls">
                       <ul>
                            <li class="active" data-filter="*">All</li>
                        </ul>
                    </div>

{{!--  --}}
<div class="row grid">
{{#each toy}}
<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat  ">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" >
                        <img src="{{image}}" alt="">
                            <ul class="featured__item__pic__hover">
                                <li><a href="/toy/detail/{{_id}}"><i class="fa fa-heart" style="margin-top: 12px;"></i></a></li>
                                <li><a href="/toy/edit/{{_id}}"><i class="fa fa-retweet" style="margin-top: 12px;"></i></a></li>
                                <li><a href="/toy/delete/{{_id}}"><i class="fa fa-shopping-cart" style="margin-top: 12px;"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{name}}</a></h6>
                            <h5>{{price}}$</h5>
                        </div>
                    </div>
                </div>
{{/each}}
</div>







